#nodereference_views_select_overlay
{
	z-index:100;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:#333333;
	opacity:0.7;
	
}

.nodereference_views_select_modal
{
	position: fixed;
	left:50%;
	top:50%;
	margin-left:-400px;
	margin-top:-300px;
	width: 800px;
	height: 600px;
	z-index:1000;
	background-color:#ffffff;
	border:1px solid black;
}

.nodereference_views_select_modal_header
{
	width: 796px;
	height: 24px;
	background-color: #000000;
	color: #ffffff;
	padding:2px;
}

.nodereference_views_select_modal_header a.nodereference_views_select_modal_close
{
	float:right;
}

.nodereference_views_select_modal_items
{
	height: 450px;
	border: 1px solid #cccccc;
	clear: both;
}

.nodereference_views_select_modal_controls
{
	padding:2px;
}

.nodereference_views_select_modal_scroll, nodereference_views_select_modal_pager
{
	padding:2px;
}

.nodereference_views_select_modal_pager .nodereference_views_select_modal_items
{
	overflow: hidden;
}

.nodereference_views_select_modal_scroll .nodereference_views_select_modal_items
{
	overflow-y: scroll;
}

/** 
 * Inheritance for the lack of a better way to address the filter div inside 
 * the modal panel
 */
.nodereference_views_select_modal #views-filters
{
	clear: both;
}

.nodereference_views_select_modal #views-filters .form-submit
{
	display: none;
}

.nodereference_views_select_modal #views-filters .form-item
{
	float: left; 
	clear:none;
}

.nodereference-views-select ul.ui-sortable div.node
{
	float: none;
}